doctype html
html
    head
        title Енеїда
        meta(charset="utf-8")
        link(rel="stylesheet" href="css/style.css")
    body
        header
            h2 Латин, як цар, в своїм наряді
            h2 Ішов в кругу своїх вельмож,
            h2 Которі всі були в параді,
            h2 Надувшись всякий з них, як йорж
        aside 1984
        section
            img(src="" alt="Tsar Latin" id="tsar")
            article.story
                h3 Ляльковий театр
                p.
                    Персонажі &laquo;Енеїди&raquo; Котляревського змогли пристосуватись й до традицій лялькових театрів. Так у Київському державному академічному театрі ляльок у 1980-х роках йшла постановка &laquo;Енеїда&raquo;, режисером якої вмступив Юрій Сікало (1936 р.н.). Саме у цьому жанрі комічність твору змогла проявитися сповна - у гіперболізованих героях-ляльках.
            article.info
                div.description
                    p Микола Сапожников. Цар Латин. Фрагмент
                    p.
                        Лялька до вистави &laquo;Енеїда&raquo;, режисер Юрій Сікало, Державний театр ляльок, Київ, 1984, дерево, метал, мотузка, тканина, фарба, 58х15х11,5, Державний музей театрального, музичного та кіномистецтва України
                div.project-logo
                    div проект
                    div ЕНЕЇДА
        footer
            img(src="" alt="metro" id="metro-logo")
            img(src="" alt="logo" id="museum-logo")
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam