/* header */
header {
  float: left; }

/* end header */
/* aside */
aside {
  float: right; }

/* end aside */
/* section */
section {
  float: left; }

#tsar {
  float: left;
  width: 500px;
  height: 800px;
  border: 1px solid black; }

/* end section */
/* footer */
footer {
  float: left; }

#metro-logo {
  width: 50px;
  height: 50px;
  border: 1px solid black; }

#museum-logo {
  width: 50px;
  height: 50px;
  border: 1px solid black; }

/* end footer */
