@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
body {
  font-family: "Noto Sans", sans-serif;
  padding: 20px 10px;
  max-width: 960px;
  position: absolute;
  background-color: #f2eee2; }

/* header */
header {
  float: left;
  text-transform: uppercase;
  color: #6e5c4f; }
  header h2 {
    border: 5px solid #6e5c4f;
    margin: 0 0;
    display: inline-block;
    background-color: #f2eee2;
    padding: 1px 5px; }
  header div {
    margin: 0 0;
    position: relative; }
  header div:nth-child(2),
  header div:nth-child(3),
  header div:nth-child(4) {
    margin: -5px 0; }
  header div:nth-child(2) h2,
  header div:nth-child(3) h2 {
    border-top: none; }
  header div:nth-child(3) {
    z-index: 1; }
    header div:nth-child(3) h2 {
      border-bottom: none; }
  header div:last-child {
    margin-bottom: 10px; }

/* end header */
/* aside */
aside {
  position: absolute;
  top: 30px;
  right: 0;
  padding: 0 0;
  transform: rotate(-90deg);
  overflow: hidden; }
  aside p {
    font-size: 6em;
    font-weight: bold;
    color: #6e5c4f;
    position: relative;
    right: 0;
    margin-bottom: -0.31em; }

/* end aside */
/* section */
section {
  float: left; }
  section h3 {
    text-transform: uppercase; }

#tsar {
  float: left;
  width: 500px;
  height: 800px;
  border: 1px solid black; }

.project-logo {
  color: #6e5c4f;
  border-color: #6e5c4f;
  float: left; }
  .project-logo div {
    display: inline-block;
    border: 5px solid #6e5c4f;
    text-align: center;
    overflow: hidden;
    position: relative; }
  .project-logo div:first-of-type {
    transform: rotate(-90deg);
    transform-origin: 0% 100%;
    font-size: 1.2em;
    padding: 2px 2px;
    width: 100px;
    height: 25px;
    left: 62.5px; }
  .project-logo div:last-of-type {
    font-size: 5em;
    font-weight: bold;
    padding: 2px 20px;
    height: 100px;
    left: -60px; }

/* end section */
/* footer */
footer {
  float: left; }

#metro-logo {
  width: 50px;
  height: 50px;
  border: 1px solid black; }

#museum-logo {
  width: 50px;
  height: 50px;
  border: 1px solid black; }

/* end footer */
